.services {
    background: white;
    padding-bottom: var(--padding-bottom);
}

.services .container{
    display: flex;
    flex-wrap: wrap;
}

.services h2 {
    width: 100%;
}

.services h3 {
    margin-top: 0;
}

.services article {
    /* margin: 1rem; */
    flex-basis: calc(33% - 4rem);
    text-align: center;
    margin: 0 2rem;
}