:root {
  --primary-color: #7bc144;
  --secondary-color: #edcb35;
  --text-color: #333;
}

html {
  font-family: 'Mukta', sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}

/* helpers */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.text-center {

}

/* components */
.button {

}

.social-icons {

}

/* sections */
.hero {

}

.services {

}

.about {
  background: var(--secondary-color);
}

.e-commerce {

}

.reciever-service {

}

.customer-service {

}

.jobs {

}

.contact {

}